.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.navbar{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
   width: 100%;
   
   
}
.nav-container{

    padding: 20px;
}
.nav-item{
    text-decoration: none;
    color:#000;
    margin-right: 20px;
    padding: 8px 12px;
    font-family:   serif;
  
  
  
  
}
.nav-item:hover{
    background-color:#ccc;
    color: #000;
}
.nav-right{
    float: right;
}
.nav-right:hover{
    background-color:#ccc;
    color: #000;
}
.parallax-bg {
            height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        .img-1 { background-image: url('./Lake\ Kivu_\ The\ Side\ of\ Rwanda\ You\ Haven\'t\ Seen.jpeg'); }


         .caption {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
        }
        .border-text {
            background-color: #111;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }